.datatable .col {
  cursor: pointer;
  background-color: #f89ac6;
  color: white;
}

.datatable .col .pointer:after {
  font-size: 80%;
  content: "";
  margin-right: 18px;
}

.datatable .col .pointer:after {
  font-size: 80%;
  content: "";
  margin-right: 18px;
}
